@import 'core/settings';

body {
	margin: 0;
	height: 100vh;
}

.show {
  background-color: $color-pink;
}

.favourite__show {
  background-color: $color-fauvorite;
}

.show__fav-list {
  text-decoration: none;
}

.show__list {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;

}

.cont2 {
  background-color: cyan;
}
